.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

body {
  background-color: #1c1d1e;
  margin: 0;
}

h1 {
  margin: 30px;
  font-size: 70px;
  color: #4eccb9;
  text-align: center;
}

p {
  font-size: 30px;
  color: #4eccb9;
}

img {
  width: 90%;
}

.bottom {
  padding-top: 30px;
}

.btn {
  background: #4ecca3;
  color: #41514c;
  font-size: 30px;
  padding: 11px 24px 14px 19px;
}